<!DOCTYPE html>
<html>
<head>
  <title>UsaGames</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= yield :add_css_include %>

  <%= javascript_include_tag 'application' %>
  <%= yield :add_js_include %>

  <%= favicon_link_tag 'common/favicon.ico' %>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
